
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif";
    overflow-x : hidden;
    overflow-y : scroll;
    min-height : 100vh;
    background : #F5F5F5;
    

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


img {
    width      : 100%;
    max-width  : 100%;
    height     : 100%;
    max-height : 100%;
    object-fit : cover;
}

img:hover {
    cursor:pointer;
}

input, textarea {
    border     : none;
    width      : 100%; 
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

textarea:focus, textarea:active,
input:focus, input:active {
    border-bottom : 1px solid #5384e5;
    outline     : none;
   
}

button:focus, button:active {
    outline    : 0px transparent;
    box-shadow : none;
    border     : none;
}



button {
  border      : none;
  box-shadow  : none; 
  background  : none;
  outline     : none;
  cursor      : pointer;
  white-space : nowrap;
  
 }


a {
    color : black;  
}

a:hover, a:hover {
    cursor:pointer;
    color : black;  
}

ul {
    list-style-type : none;
    padding : 0;
    margin  : 0;
     
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-to {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 35px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #2eafec;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero-container:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero-container .hero-contents {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero-container h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero-container p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero-container p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
    #hero-container {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero-container h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero-container h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

.app-container {
    padding: 0;
	margin: 0;
}

.back-to-top {
	visibility:hidden;
	border-radius: 20px;
	z-index: 99999;
	background-color: rgb(0, 174, 255);;
	color: ghostwhite;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 3%;
	right: 3%;
}

.hamburger-box {
    position: fixed;
	z-index: 99999;
	top:3%;
	right: 3%;
	
}

.active {
	color: #558FF0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    padding: 5px 0;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
}

#footer .copyright  {
    justify-content: center;
    display :  flex;
    width  : 100%;
}
  
.copyright {
    display   :  flex;
    font-size : 14px;
    margin    : 15px 0;
}


.copyright ul li span {
    color: rgb(0, 174, 255);
}


@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}


@media (min-width: 1199px) {
	
	#hero-container {
		background-attachment: fixed;
	}

	.about-contents {
    	display: flex;
		gap : 2rem;
	}

	.about-profile-pic-box {
		width: 40%;
	}


    .hamburger-box {
        visibility: hidden;
    }
}